@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/gradient

.input
  label
    float: left
    width: 125px
    
  input
    border: 1px solid #CCCCCC
    padding: 3px 5px

.buttons  
  input
    border: 1px solid #ccc
    border-left: 0
    padding: 6px 10px 4px 10px
    +border-radius(5px)
    border-left: 1px solid #ccc
    +box-shadow(#ccc 0 1px 5px inset)