html {
  body {
    background: #F2F2F2;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Verdana";
    font-size: 14px;
    #navigation {
      background: #fff;
      width: 300px;
      height: 400px;
      -moz-box-shadow: 0 0 5px #ccc;
      -webkit-box-shadow: 0 0 5px #ccc;
      box-shadow: 0 0 5px #ccc;
      float: right;
      margin-top: -20px;
      padding-top: 0px;
      .current_user {
        padding: 0 30px 20px 30px;
      }
      .button {
        background:-moz-linear-gradient(top, #5BC1FD, #0573D3); /* Firefox */
        background:-webkit-gradient(linear, left top, left bottom, from(#5BC1FD), to(#0573D3)); /* Safari, Chrome */
        background:-webkit-linear-gradient(top, #5BC1FD, #0573D3); /* Safari, Chrome - neue Syntax! */
        background:-o-linear-gradient(top, #5BC1FD, #0573D3); /* Opera */
        background:-ms-linear-gradient(top, #5BC1FD, #0573D3); /* IE */
        background:linear-gradient(top, #5BC1FD, #0573D3); /* W3C Standard */
        color: #fff;
        padding: 8px 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-decoration: none;
        margin: 20px;
      }
      ul {
        margin: 30px 0 0 0;
        padding: 0;
        border-top: 1px solid #ccc;
        li {
          list-style: none;
          font-size: 14px;
          padding: 10px 10px 10px 30px;
          border-bottom: 1px solid #ccc;
          a {
            text-decoration: none;
            &:hover {
              background: none;
              color: #0573D3;
            }
          }          
        }
      }
    }
    .content {
      margin: 20px 350px 40px 40px;
      padding: 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: 0 0 5px #ccc;
      -webkit-box-shadow: 0 0 5px #ccc;
      box-shadow: 0 0 5px #ccc;
      background: #fff;
      &.login {
        margin: 100px auto;
        width: 500px;
      }
      .notice {
        color: green;
      }
      .alert {
        color: red;
      }
      h1 {
        color: #000;
        font-size: 18px;
        margin-bottom: 20px;
      }
      label {
        width: 150px;
        font-size: 14px;
        display: block;
        float: left;
        padding-top: 0.2em;
      }
      .inputs {
        input {
          width: 250px;
          height: 25px;
          font-size: 14px;
        }
      }
      .buttons {
        padding: 0;
        input {
          background:-moz-linear-gradient(top, #5BC1FD, #0573D3); /* Firefox */
          background:-webkit-gradient(linear, left top, left bottom, from(#5BC1FD), to(#0573D3)); /* Safari, Chrome */
          background:-webkit-linear-gradient(top, #5BC1FD, #0573D3); /* Safari, Chrome - neue Syntax! */
          background:-o-linear-gradient(top, #5BC1FD, #0573D3); /* Opera */
          background:-ms-linear-gradient(top, #5BC1FD, #0573D3); /* IE */
          background:linear-gradient(top, #5BC1FD, #0573D3); /* W3C Standard */
          color: #fff;
          padding: 8px 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          text-decoration: none;
          border: 0;
          margin: 20px;
          font-size: 14px;
        }
      }
      table {
        width: 100%;
        th {
          border-bottom: 1px solid #ccc;
          text-align: left;
        }
      }
      .edit_button {
        float: right;
        border: 1px solid #ccc;
        padding: 4px 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background:-moz-linear-gradient(top, #F9F9F9, #E3E3E3); /* Firefox */
        background:-webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#E3E3E3)); /* Safari, Chrome */
        background:-webkit-linear-gradient(top, #F9F9F9, #E3E3E3); /* Safari, Chrome - neue Syntax! */
        background:-o-linear-gradient(top, #F9F9F9, #E3E3E3); /* Opera */
        background:-ms-linear-gradient(top, #F9F9F9, #E3E3E3); /* IE */
        background:linear-gradient(top, #F9F9F9, #E3E3E3); /* W3C Standard */
        color: #000;
        text-decoration: none;
      }
    }
  }
}